footer{
  width: 100%;
  background-color:#768C39;
  padding: 2%;
  color: white; 
}
.fa{
  padding:10px;
  font-size: 10px;
  color:black;
  
}
.fa:hover{
  color: white;
  text-decoration: none;
}

